openapi: 3.2.0
info:
  title: AgStack Asset Registry Authentication API
  version: 1.0.0
  description: Welcome to the **AgStack Asset Registry** developer portal.
servers:
- url: https://api-ar.agstack.org
  description: Production Server
tags:
- name: Authentication
paths:
  /login:
    post:
      tags:
      - Authentication
      summary: 🔐 User Login
      description: Login to the Asset Registry using email and password.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - email
              - password
              properties:
                email:
                  type: string
                  format: email
                  example: demo@gmail.com
                password:
                  type: string
                  format: password
                  example: Demo@1234
      responses:
        '200':
          description: Successful Login
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                  refresh_token:
                    type: string
        '400':
          $ref: '#/components/responses/ErrorResponse'
      operationId: postLogin
      x-operation-id-source: derived
components:
  responses:
    ErrorResponse:
      description: Generic Error Response
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                example: Error description
              error:
                type: string
                example: Detailed exception message
  securitySchemes:
    Bearer_Token:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: '**Required for most operations.**

        1. Login via `/login` to get token.

        2. Paste access token here.

        '
